!!!
%html
  %body
    %h1
      / There is a new comment #{@user.name}
    %p
      The newest comment is: 
      =@comment.content
      %br
      From:
      =@comment.name
      / #{@comment}
      